@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sniglet:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #0f171e;
    --assistant-color: #1a242e;
}

body{
    font-family: "Inter", serif;
    background-color: var(--main-color);
}

p{
    color: #fff;
    text-align: center;
}

header{
    background-color: var(--assistant-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items:initial
}

header h1{
    letter-spacing: 5px;
    color: #fff;
}

.search{
    background-color: var(--main-color);
    border: none;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    width: 100%;
    transition: 0.3s ease-in;
}

.search:focus{
    outline: none;
    transform: scale(1.025);
}

.search::placeholder{
    color: #6c757d;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie{
width: 300px;
margin: 1rem;
background-color: var(--assistant-color);
box-shadow: 0.5px 6px rgba(0, 0, 0, 0.25);
position: relative;
border-radius: 3px;
overflow: hidden;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: #79b8f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info span{
    background-color: var(--main-color);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 90%;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: lightsalmon
}

.movie-info span.red{
    color: lightcoral;
}

.overview{
    background-color: #566b84;
    color: #111;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.5s ease-in;
    
}

.movie:hover .overview{
    transform: translateY(0);
}

.overview h3{

    margin-bottom: 1rem;
    width: 90%;
    color: black;
text-align: center;
font-weight: 800;
font-size: 30px
}

footer{
    background-color: var(--assistant-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

footer h3{
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 0.5rem;
    
}

footer ul li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

footer ul li a{
    color: #2066a0;
    text-decoration: none;
    font-size: 0.9rem;
}

footer small{
    margin-top: 1rem;
    color: #8197a4;
    font-size: 0.8rem;
}